<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты</title>
    <style>
        .result {
            display: flex;
            flex-direction: column;
            width: 400px;
            background: #accccc;
            padding: 16px;
            margin: 50px auto;
            font-family: "Roboto", sans-serif;
            gap: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="result">
    <div class="message">{{ result }}</div>
</div>
</body>
</html>